html, body {
  height: 100%;
  margin: 0; }

.container {
  height: 100%; }

.nav {
  height: 60px;
  background-color: #240018;
  color: white; }

.nav ul {
  margin: 0;
  padding: 0; }

.nav > ul > li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 60px;
  width: 150px;
  position: relative; }

#light {
  width: 10px;
  height: 10px;
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateZ(1000px); }

/*.vertex {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  margin: -4px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, .6);
}*/
.list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  text-align: center;
  perspective: 500px;
  perspective-origin: top center; }

.list-item {
  position: relative;
  height: 50px;
  width: 150px;
  list-style: none; }

.list-item:nth-of-type(1) .assembly {
  z-index: 100; }

.list-item:nth-of-type(2) .assembly {
  z-index: 99; }

.list-item:nth-of-type(3) .assembly {
  z-index: 98; }

.list-item:nth-of-type(4) .assembly {
  z-index: 97; }

.list-item:nth-of-type(5) .assembly {
  z-index: 96; }

.list-item:nth-of-type(6) .assembly {
  z-index: 95; }

.list-item:nth-of-type(7) .assembly {
  z-index: 94; }

.list-item:nth-of-type(8) .assembly {
  z-index: 93; }

.list-item:nth-of-type(9) .assembly {
  z-index: 92; }

.assembly {
  position: absolute;
  top: 50%;
  left: 50%;
  transition: transform 3s;
  transform: rotate3d(0, 1, 0, 0deg);
  transform-style: preserve-3d; }

.assembly:hover {
  transform: rotate3d(0, 1, 0, 360deg); }

.left {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  background-color: #383838;
  transform: translateX(-115px) translateY(-25px) rotateY(-90deg);
  outline: 1px solid black; }

.right {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  background-color: #383838;
  transform: translateX(35px) translateY(-25px) rotateY(90deg);
  outline: 1px solid black; }

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background-color: #383838;
  transform: translate3d(-75px, -25px, -40px) rotateY(180deg);
  outline: 1px solid black; }

.front {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 50px;
  background-color: #383838;
  transform: translate3d(-75px, -25px, 40px);
  outline: 1px solid black; }

.bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 80px;
  background-color: #383838;
  transform: translateX(-75px) translateY(-15px) rotateX(-90deg);
  outline: 1px solid black; }

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 80px;
  background-color: #383838;
  transform: translateX(-75px) translateY(-65px) rotateX(-90deg);
  outline: 1px solid black; }
